<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minhtamnguyen.projecta">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ID.FindId"/>
        <activity android:name=".ID.ID"/>
        <activity android:name=".ID.TopOfMajor"/>

        <activity android:name=".List.List"/>
        <activity android:name=".List.List_Major"/>
        <activity android:name=".List.View_All_Student"/>

        <activity android:name=".Statistical.Statistical"/>

        <activity android:name=".Chart.Chart"/>
        <activity android:name=".Chart.Chart_QuantityOfStudent"/>
        <activity android:name=".Chart.Chart_RankOfStudent"/>
    </application>

</manifest>